<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.rgomiddelharnis.a6.po"
    android:installLocation="auto"
    android:versionCode="4"
    android:versionName="1.1.1-20140326" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="nl.rgomiddelharnis.a6.po.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="nl.rgomiddelharnis.a6.po.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bolhoed" >
        <activity
            android:name="nl.rgomiddelharnis.a6.po.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.rgomiddelharnis.a6.po.activity.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" > <!-- TODO: Verwijderen na debug -->
        </activity>
        <activity
            android:name="nl.rgomiddelharnis.a6.po.activity.BeheerTafelActivity"
            android:exported="true"
            android:label="@string/title_activity_beheer_tafel" > <!-- TODO: Verwijderen na debug -->
        </activity>
        <activity
            android:name="nl.rgomiddelharnis.a6.po.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="nl.rgomiddelharnis.a6.po.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.rgomiddelharnis.a6.po.activity.MainActivity" />
        </activity>

        <receiver
            android:name="nl.rgomiddelharnis.a6.po.service.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="nl.rgomiddelharnis.a6.po" />
            </intent-filter>
        </receiver>

        <service android:name="nl.rgomiddelharnis.a6.po.service.GcmIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
