<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.rgomiddelharnis.a6.po"
    android:installLocation="auto"
    android:versionCode="2"
    android:versionName="1.0-20140321" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bolhoed" >
        <activity
            android:name="nl.rgomiddelharnis.a6.po.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.rgomiddelharnis.a6.po.activity.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" > <!-- TODO: Verwijderen na debug -->
        </activity>
        <activity
            android:name="nl.rgomiddelharnis.a6.po.activity.BeheerTafelActivity"
            android:exported="true"
            android:label="@string/title_activity_beheer_tafel" > <!-- TODO: Verwijderen na debug -->
        </activity>
        <activity
            android:name="nl.rgomiddelharnis.a6.po.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="nl.rgomiddelharnis.a6.po.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.rgomiddelharnis.a6.po.activity.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>